<div class="titlebackground"></div>

<div class="row">
	<div class="col-md-11">
		<div class="jumbotron" id="titlejumbotron">
			{{bs-page-header
				title	= "eBook Searcher"
				sub		= "App"}}
		</div>
	</div>

	<div class="col-md-1">
		{{#bs-button
			type		= "link"
			clicked	= "showAbout"
			icon		= "glyphicon glyphicon-info-sign"}}
			About
		{{/bs-button}}
	</div>
</div>

{{#bs-modal
	name									=	"aboutModal"
	fade									=	true
	footerButtonsBinding	=	"aboutModalButtons"
	title									=	"About"}}

	<div class="row">
		<div class="col-sm-5 col-md-5">
			<div class="thumbnail">
				<div align=center>
					<strong>Technology Stack</strong>
				</div>
				<img src="/ebook-searcher-app/media/about/ebook-searcher_technologystack.svg"
						 alt="eBook Searcher App's technologies">
			</div>
		</div>

		<div class="col-sm-7 col-md-7">
			<div class="thumbnail">
				<h1>
					eBook Searcher App
				</h1>

				<p>
					This Single-Page Application (SPA) is designed and developed by <a href="http://knshetty.weebly.com/">Nirdharsh</a>. And acts as an interactive eBook search tool, which is intended to be a technical example on how-to combine technology-stack like <a href="http://emberjs.com/">Ember.js</a> + <a href="https://developers.google.com/blockly/">Blockly</a> + <a href="http://it-ebooks-api.info/">IT-eBooks API</a>.

					<br>
					<br>
					<strong>Version</strong>

					<br>
					&nbsp; &nbsp; 0.1

					<br>
					<br>
					<strong>License</strong>

					<br>
					&nbsp; &nbsp; 3-clause New BSD License.

					<br>
					<br>
					<strong>Copyright</strong>

					<br>
					&nbsp; &nbsp; &copy; 2015 Nirdharsh Shetty
				</p>
			</div>
		</div>
	</div>
{{/bs-modal}}

<div class="row">
  <div class="col-md-3">
		{{#bs-panel
			heading	= "Search Results"}}

			{{#bs-button
				type		= "default"
				clicked	= "goTo_IndexPage"
				icon		= "glyphicon glyphicon-trash"}}
				Clear Results
			{{/bs-button}}

			{{outlet}}
		{{/bs-panel}}
  </div>

  <div class="col-md-7">
		{{#bs-panel
			heading	= "Block DSL Editor"}}

			{{blockly-basic
				currentControllerBinding	= "controller"
				blockToLoadBinding				= "blockToLoad"}}
		{{/bs-panel}}

		{{#if selectedItem}}

			{{#bs-panel
				heading	= "eBook Info"
				type		= "info"}}

				<div class="jumbotron">
					<div class="container">
						<a {{bind-attr href=selectedItemUrl}} target="_blank">
						  <img {{bind-attr src=selectedItem.image}}
								alt={{bind-attr src=selectedItem.image}}>
						</a>

					  <h1>
							<a {{bind-attr href=selectedItemUrl}} target="_blank">
								{{selectedItem.title}}
							</a>
						</h1>

					  <p>
							<b>ISBN</b>: {{selectedItem.isbn}}
						</p>

					  <p>
							{{selectedItem.description}}
						</p>
					</div>
				</div>
			{{/bs-panel}}

		{{/if}}
  </div>

  <div class="col-md-2">
		{{#bs-panel
			heading	= "Action Palette"}}

			{{#bs-panel
				heading			= "Examples"
				collapsible	= true
				open				= true}}

				<div>
					<b>Simple search:</b>

					{{#bs-button
						type		= "default"
						clicked	= "load_Example0"
						icon		= "glyphicon glyphicon-education"}}
						Example 0
					{{/bs-button}}
				</div>

				<div>
					<b>Search & aggregate:</b>

					{{#bs-button
						type		= "default"
						clicked	= "load_Example1"
						icon		= "glyphicon glyphicon-education"}}
						Example 1
					{{/bs-button}}
				</div>

				<div>
					<b>Cascaded aggregations:</b>

					{{#bs-button
						type		= "default"
						clicked	= "load_Example2"
						icon		= "glyphicon glyphicon-education"}}
						Example 2
					{{/bs-button}}

					{{#bs-button
						type		= "default"
						clicked	= "load_Example3"
						icon		= "glyphicon glyphicon-education"}}
						Example 3
					{{/bs-button}}
				</div>

				<div>
					<b>Multiple resources aggregation:</b>

					{{#bs-button
						type		= "default"
						clicked	= "load_Example4"
						icon		= "glyphicon glyphicon-education"}}
						Example 4
					{{/bs-button}}
				</div>
			{{/bs-panel}}

			{{#bs-panel
				heading			= "RESTful Resource"
				collapsible	= true
				open				= false}}

				{{bs-btn-group
					contentBinding	= "datasourceTypeSelections"
					selectedBinding	= "selectedDatasourceType"
					default					= "Cloud"
					icon_active			= "glyphicon glyphicon-play-circle"}}
			{{/bs-panel}}
		{{/bs-panel}}
  </div>
</div>
